/***** NOTES *****/
/***** SASS *****/
/***** FONTS *****/
@font-face {
  font-family: 'LCDM2B__';
  src: url("../font/LCDM2B__.ttf"); }

@font-face {
  font-family: 'Microgramma-D-OT-Bold-Extended_30403';
  src: url("../font/Microgramma-D-OT-Bold-Extended_30403.ttf"); }

@font-face {
  font-family: 'Microgramma-D-OT-Medium-Extended_30404';
  src: url("../font/Microgramma-D-OT-Medium-Extended_30404.ttf"); }

/***** *****/
/* line 45, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 49, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
body, html {
  height: 100%;
  width: 100%; }

/* line 53, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
body {
  display: table; }

/* line 57, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.overall-container {
  display: table-cell;
  vertical-align: middle;
  border: 5px solid purple; }

/* line 65, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.individual-time-circuit-wrapper-area {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
  border: 1px solid red; }

/* line 80, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.individual-time-circuit-wrapper-area:after {
  content: "";
  display: block;
  padding-top: 21%; }

/* line 86, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.individual-time-circuit-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* line 111, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.sticker-label, .footer-label {
  font-family: 'Microgramma-D-OT-Medium-Extended_30404';
  font-weight: 600;
  letter-spacing: 2px; }

/* line 118, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.sticker-label {
  display: inline-block;
  background-color: aqua;
  color: white;
  border: 1px solid red;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.3em; }

/* line 128, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.footer-label {
  background-color: black;
  color: white;
  width: 50%;
  text-align: center;
  font-size: 1.6em; }

/* line 136, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.console-display {
  display: inline-block; }

/* line 140, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.lcd {
  background-color: black;
  font-family: 'LCDM2B__';
  color: red;
  font-size: 6em;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-right: 3px;
  padding-left: 3px;
  margin-right: 10px;
  line-height: 80px; }

/*# sourceMappingURL=my-styles.css.map */