/***** NOTES *****/
/***** SASS *****/
/***** FONTS *****/
@font-face {
  font-family: 'LCDM2B__';
  src: url("../font/LCDM2B__.ttf"); }

@font-face {
  font-family: 'Microgramma-D-OT-Bold-Extended_30403';
  src: url("../font/Microgramma-D-OT-Bold-Extended_30403.ttf"); }

@font-face {
  font-family: 'Microgramma-D-OT-Medium-Extended_30404';
  src: url("../font/Microgramma-D-OT-Medium-Extended_30404.ttf"); }

/***** *****/
/* line 44, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 48, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
body, html {
  background-color: black;
  height: 100%;
  width: 100%; }

/* line 53, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
body {
  display: table; }

/* line 57, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.overall-container {
  display: table-cell;
  vertical-align: middle; }

/* line 64, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.individual-time-circuit-wrapper-area {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
  background-image: url("../img/Grunge_mottled_texture_insight_designs.jpg");
  box-sizing: content-box;
  border-top-style: outset;
  border-right-style: outset;
  border-left-style: outset;
  border-right-width: 5px;
  border-bottom-style: inset;
  border-bottom-color: gray;
  border-radius: 3px; }

/* line 86, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.individual-time-circuit-wrapper-area:after {
  content: "";
  display: block;
  padding-top: 21%; }

/* line 91, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination {
  background-image: url("../img/mottled_metal_1.jpg"); }

/* line 94, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.present {
  background-image: url("../img/mottled_metal_2.jpg"); }

/* line 97, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.last-time-departed {
  background-image: url("../img/mottled_metal_3.jpg"); }

/* line 101, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.individual-time-circuit-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* line 118, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.console-display {
  display: inline-block; }

/* line 122, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.sticker-label, .footer-label, .am-label, .pm-label {
  font-family: 'Microgramma-D-OT-Medium-Extended_30404';
  font-weight: 600;
  letter-spacing: 2px; }

/* line 131, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.sticker-label {
  display: inline-block;
  background-color: #8e1a0a;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.3em;
  margin-top: 17px; }

/* line 143, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.footer-label {
  background-color: black;
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em; }

/* line 153, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .month, .present .month, .last-time-departed .month {
  margin-left: 50px; }

/* line 154, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .day, .present .day, .last-time-departed .day {
  margin-left: 65px; }

/* line 155, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .year, .present .year, .last-time-departed .year {
  margin-left: 125px; }

/* line 156, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .hour, .present .hour, .last-time-departed .hour {
  margin-left: 145px; }

/* line 157, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .min, .present .min, .last-time-departed .min {
  margin-left: 65px; }

/* line 158, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .footer-label {
  margin-left: 300px;
  width: 330px; }

/* line 162, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.present .footer-label {
  margin-left: 300px;
  width: 290px; }

/* line 167, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.last-time-departed .footer-label {
  margin-left: 250px;
  width: 400px; }

/* line 172, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.console-month {
  margin-left: 23px; }

/* line 173, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.console-day {
  margin-left: 14px; }

/* line 174, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.console-year {
  margin-left: 25px; }

/***** AM PM stuff *****/
/* line 177, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.console-am-pm {
  position: relative;
  width: 49px; }

/* line 181, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.am-label, .pm-label {
  position: absolute;
  left: -8px;
  background-color: #8e1a0a;
  color: white;
  font-size: 1.5em;
  line-height: 24px; }

/* line 189, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.am-label {
  bottom: 75px; }

/* line 192, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.indicator-light.am {
  position: absolute;
  bottom: 55px;
  left: 5px;
  background-color: blueviolet; }

/* line 198, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.pm-label {
  bottom: 24px; }

/* line 201, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.indicator-light.pm {
  position: absolute;
  bottom: 5px;
  left: 5px; }

/* line 208, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.console-colon-lights {
  position: relative;
  width: 19px; }

/* line 212, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.indicator-light {
  height: 17px;
  width: 17px;
  background-color: green;
  border-radius: 50%;
  margin-right: 3px; }

/* line 225, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .indicator-light.am.light-on,
.destination .indicator-light.pm.light-on,
.destination .indicator-light.top,
.destination .indicator-light.bottom {
  background-color: #67FC42;
  box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #67FC42 0 2px 12px; }

/* line 230, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .indicator-light.am.light-off,
.destination .indicator-light.pm.light-off {
  background-color: #3E2917;
  box-shadow: inset -1px 2px 3px #ababab; }

/* line 240, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.present .indicator-light.am.light-on,
.present .indicator-light.pm.light-on,
.present .indicator-light.top,
.present .indicator-light.bottom {
  background-color: #8AF250;
  box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #8AF250 0 2px 12px; }

/* line 245, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.present .indicator-light.am.light-off,
.present .indicator-light.pm.light-off {
  background-color: #0E1510;
  background-color: #330;
  box-shadow: inset -1px 2px 3px #ababab; }

/* line 255, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.last-time-departed .indicator-light.am.light-on,
.last-time-departed .indicator-light.pm.light-on,
.last-time-departed .indicator-light.top,
.last-time-departed .indicator-light.bottom {
  background-color: #F4DF5C;
  box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #F4DF5C 0 2px 12px; }

/* line 261, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.last-time-departed .indicator-light.am.light-off,
.last-time-departed .indicator-light.pm.light-off {
  background-color: #330;
  box-shadow: inset -1px 2px 3px #ababab; }

/* line 268, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.indicator-light.top {
  position: absolute;
  bottom: 45px;
  right: 3px; }

/* line 273, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.indicator-light.bottom {
  position: absolute;
  right: 3px;
  bottom: 20px; }

/** 
.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
**/
/* line 291, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.lcd {
  background-color: black;
  border-style: inset;
  color: red;
  font-family: 'LCDM2B__';
  font-size: 6em;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 11px;
  margin-right: 10px;
  line-height: 80px; }

/* line 309, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.destination .lcd {
  color: #FF6410; }

/* line 310, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.present .lcd {
  color: #67FC42; }

/* line 311, /Users/lawrenceabaeo/code/back-to-the-future-time-circuits-using-front-end-tech/css/my-styles.scss */
.last-time-departed .lcd {
  color: #F4CE26; }

/*# sourceMappingURL=my-styles.css.map */